In [6]:
"galleta "*6

'galleta galleta galleta galleta galleta galleta '

In [14]:
frutas = ['manzana', 'piña', 'plátano "mi fruta favorita"']

In [19]:
print(frutas[2])

plátano "mi fruta favorita"

In [24]:
print(2*3)
print(4+5)

6
9

In [35]:
print(("* "*10+"\n")*10)

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [39]:
masfrutas = frutas*3

In [40]:
masfrutas[0]

'manzana'

In [41]:
len(frutas)

3

In [42]:
len(masfrutas)

9

In [43]:
masfrutas[8]

'plátano "mi fruta favorita"'

In [44]:
masfrutas[8] = "banana"

In [45]:
masfrutas

['manzana',
 'piña',
 'plátano "mi fruta favorita"',
 'manzana',
 'piña',
 'plátano "mi fruta favorita"',
 'manzana',
 'piña',
 'banana']

In [49]:
ceros = [[0,0,0,0,0], [0,0,0,0,0], [0,0,0,0,0]]
ceros2 = [[0,0,0,0,0]]*3

In [50]:
ceros

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [51]:
ceros2

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [55]:
ceros[0][0]=1
ceros2[0][0]=1

In [56]:
ceros

[[1, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [57]:
ceros2

[[1, 0, 0, 0, 0], [1, 0, 0, 0, 0], [1, 0, 0, 0, 0]]

In [60]:
felipe = [["Contreras", "Alcalá", "Felipe Humberto"], 42, "H", "09"]

In [61]:
list("Julio")

['J', 'u', 'l', 'i', 'o']

In [62]:
list([1,2,3])

[1, 2, 3]

In [63]:
felipe[0]

['Contreras', 'Alcalá', 'Felipe Humberto']

In [64]:
felipe2 = {"nombre":felipe[0], "edad":felipe[1], "estado":felipe[3], "sexo":felipe[2]}

In [65]:
felipe2

{'edad': 42,
 'estado': '09',
 'nombre': ['Contreras', 'Alcalá', 'Felipe Humberto'],
 'sexo': 'H'}

In [66]:
felipe2['nombre']

['Contreras', 'Alcalá', 'Felipe Humberto']

In [67]:
mitupla = (1,2,3,[4,5,6])

In [68]:
mitupla[0]

1

In [69]:
mitupla[3]

[4, 5, 6]

In [70]:
mitupla[0]=7

TypeError: 'tuple' object does not support item assignment

In [72]:
mitupla[3][0]=44

In [73]:
mitupla

(1, 2, 3, [44, 5, 6])